@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>MMO Admin</title>

    @Styles.Render("~/styles/frontend")
</head>
<body>
    <div class="nav navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("registered"))
                {
                    <li>@Html.ActionLink("Home", "index", "home")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Admin", "index", "home", new { area="admin" }, new { })</li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Logout", "logout", "auth", new {}, new { @class = "post" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "create", "register")</li>
                    <li>@Html.ActionLink("Login", "login", "auth")</li>
                }
            </ul>
        </div>
    </div>


    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/js/frontend")
</body>
</html>
