@model MMO.Web.Areas.Admin.ViewModels.UserResetPassword

<h1>Reset @Model.UserName's Password</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(f=>f.Password)

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            @Html.PasswordFor(f=>f.Password, new {@class="form-control"})
        </div>
    </div>
    
    <p>
        <input type="submit" value="Reset Password" class="btn btn-small btn-default"/>
        or
        @Html.ActionLink("go back", "index")
    </p>
}