@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        
        <title>MMO Admin</title>

        @Styles.Render("~/styles/backend")
    </head>
    <body>
        <div class="nav navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "index", "home")</li>
                    <li>@Html.ActionLink("Users", "index", "users")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Back to home", "index", "home", new { area = "" }, new { })</li>
                </ul>
            </div>
        </div>
        

        <div class="container">
            @RenderBody()
        </div>
        @Scripts.Render("~/js/backend")
    </body>
</html>
